@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    
    margin: 0;
    padding: 0;
}


header {
    font-family: "Bigelow Rules", serif;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D59E45 !important;
}

.todoCineLogo{
    width: 15em;
    margin-left: 1em;
}

h1 {
    font-size: 10vh;
    text-shadow: 250px 20px #3d3d3d; /* Sombra negra con desplazamiento de 2px */
    
}


main {
    min-height: 70vh;
}

.homeBtnContainer{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}


.body-text {
    font-family: 'Prompt', sans-serif;
}

/* Botón de búsqueda */
.btn-amarillo {
    background-color: #D59E45;
    border-color: #D59E45; 
    color: black;              
}

.btn-amarillo:hover {
    background-color: #765725;
    border-color: #765725;
    color: white;
}

.btn-azul{
    background-color: #62BDD8;
    border-color: #62BDD8;
    color: black;
}

.btn-azul:hover{
    background-color: #3D6E87;
    border-color: #3D6E87;
    color: white;

}

#mainContainer{
    display: flex;
    flex-direction: column-reverse;
}

/* Reducir el tamaño de los pósters y ajustar el contenedor */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
    border: none;
}

.card-img-top {
    max-width: 100%;
    height: auto;
    display: block;
}

.card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.bg-dark{
    background-color: #080A1B !important;
}

.deleteContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

footer {
    height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    margin: 0.5rem 0;
}

.btn-home {
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: #62BDD8 !important;
}

.footerInfoDiv{
    display: flex;
    flex-direction: column;
}

.mobileBtnContainer{
    display: none;
}

/* Media Queries para Responsividad */

@media (min-width: 769px) {
    .footerInfoDiv{
        p{
            text-align: center;
        };
        ul{
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    header {
        height: 20vh;
    }
    h1 {
        font-size: 6vh;
    }
    .card {
        max-width: 70%;
    }
    footer {
        height: 30vh;
    }
    .footerInfoDiv{
        p{
            text-align: center;
        };
        ul{
            text-align: center;
        }
    }
}

@media (max-width: 576px) {
    header {
        height: 20vh;
    }
    h1 {
        font-size: 5vh;
    }
    .card {
        max-width: 90%;
    }
    footer {
        height: 35vh;
    }

    .mobileBtnContainer{
        display: flex;  
        flex-direction: column;
        position: fixed;
        bottom: 20px;
        right: 20px;
        .opciones{
            a{
                display: block;
                text-decoration: none;
                background-color: #D59E45;
                color: #080A1B;
                width: 55px;
                height: 55px;
                line-height: 55px;
                text-align: center;
                border-radius: 50%;
                box-shadow: 0px 1px 10px;
                transition: all 500ms ease;
            }
            img{
                width: 2em;
            }
        }
        #options{
            display: none;
        }

    }
}